/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

/* Container for the login card */
.wrapper {
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem 3rem;
}

/* Circle logo */
.logo-circle {
    width: 80px;
    height: 80px;
    background-color: var(--cnu-light-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo-letter {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.app-name {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* GitHub login button */
.github-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 16px;
    margin: 20px auto 30px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    transition: background-color 0.3s;
    fill: white;
}

.github-login-btn:hover {
    background-color: #333;
}

.github-login-btn svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Terms and conditions */
.terms {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}

.terms a {
    color: var(--cnu-sky-blue);
    text-decoration: none;
}
