/* General styles */
:root {
  /* CNU 메인 색상 코드 */
  --cnu-dark-blue: rgb(0, 28, 84); /* PANTONE 655C: 헤더 등 주요 강조 색상 */
  --cnu-sky-blue: rgb(0, 114, 188); /* PANTONE 2194C: 보조 강조 색상 */
  --cnu-light-blue: rgb(0, 161, 228); /* PANTONE 2935C: 밝은 강조 및 백그라운드 색상 */
  --cnu-yellow: rgb(253, 185, 19); /* PANTONE 116C: 경고 및 강조 요소 색상 */
  --cnu-orange: rgb(247, 148, 29); /* PANTONE 144C: 알림 및 강조 요소 색상 */

  /* CNU 보조 색상 코드 */
  --pantone-877c: rgb(188, 190, 192); /* PANTONE 877C: 보조 요소 회색 */
  --pantone-871c: rgb(179, 161, 119); /* PANTONE 871C: 강조 요소 금색 */
  --pantone-blackc: rgb(0, 0, 0); /* PANTONE BlackC: 기본 검정색 */

  /* 기존 사용 색상 코드 */
  --background: #f5f5f5; /* 배경 색상 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--background);
}

/* Navigation bar styles */
.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-item a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 텍스트 색상 상속 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.nav-item p {
  font-size: 0.8rem;
  color: #555;
}

.nav-item.active p {
  color: var(--cnu-light-blue);
}

/* Toast Notification CSS */
.toast {
  visibility: hidden;
  min-width: 90%;
  background-color: var(--pantone-877c); /* 기본 배경 색상 */
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 13%;
  transform: translateX(-50%);
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toast.show {
  visibility: visible;
}

.toast.error {
  background-color: var(--cnu-orange); /* 오류 알림 배경 색상 */
}

.toast.success {
  background-color: var(--cnu-sky-blue); /* 정상 동작 알림 배경 색상 */
}

