:root {
  --cnu-light-blue: #3f8efc;
  --text-color-dark: #333;
  --text-color-light: #888;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color-dark);
  background-color: #f9f9f9;
}

/* 헤더 스타일 */
.header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  background-color: var(--cnu-light-blue);
  position: relative;
  gap: 0.5rem; /* 아이콘과 제목 간격 추가 */
}

.header #backButton {
  position: relative;
  left: 0;
  cursor: pointer;
  font-size: 1.5rem;
}

.header .title {
  margin-left: 1.5rem; /* 화살표와 제목 사이 간격 추가 */
}


/* 공지사항 세부 내용 스타일 */
.notice-detail {
  padding: 2rem 1.5rem;
  background-color: white;
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.notice-detail h2 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.notice-detail p#detail-date {
  font-size: 0.9rem;
  color: var(--text-color-light);
  margin-bottom: 1.2rem;
}

.notice-detail #detail-content {
  font-size: 1rem;
  line-height: 1.6;
  padding-left: 0.5rem;
}

/* 공지사항 날짜 스타일 */
.detail-date {
  font-size: 0.9rem;
  color: #888;
  margin-left: auto; /* 날짜를 오른쪽으로 정렬 */
}
