<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card List</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/card/card-list.css}">
    <link rel="stylesheet" th:href="@{/css/card/card.css}">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/card/card.js}"></script>
    <script th:src="@{/js/card/card-list-delete.js}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h2 class="title">Wallet</h2>
    </div>

    <div class="card-list">
        <!-- 카드 목록을 동적으로 생성 -->
        <div th:each="card : ${cards}">
            <div th:replace="card :: cardSection(${card.id})">
                <button class="delete-button" th:attr="card-id=${card.id}" onclick="deleteCardFromGroup(this)">삭제</button>
            </div>
        </div>
    </div>
</div>

<!-- 하단 네비게이션 바 -->
<div th:replace="nav-bar :: navBar"></div>

<!-- Toast 알림 -->
<div id="toast" class="toast"></div>

</body>
</html>
