<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>채팅방</title>
  <link rel="stylesheet" href="../chatRoom.css">
</head>
<body>
<div class="chat-container">
  <div class="header">
    <span class="back-arrow">←</span>
    <span class="chat-title">상대방 이름 or ID</span>
  </div>
  <div class="chat-message" id="chatWindow">
    <!--메시지가 표시-->
  </div>
  <div class="input-message">
    <input type="text" id="messageInput" placeholder="Type a message...">
    <button onclick="sendMessage()">+</button>
  </div>
</div>

</body>
</html>
