<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <title>명함 관리</title>
</head>
<body>

<div class="mypage-container">
    <div class="profile-section">
        <div class="profile-photo">
            <img th:src="@{/images/profile.svg}" alt="User Profile Photo">
        </div>
        <div class="profile-info">
            <h2 class="username">닉네임</h2>  <!-- 백으로 부터 닉네임 받아오기 -->
        </div>
    </div>
    <div class="menu-section">
        <div class="menu-item">
            <a th:href="@{member-setting}">
                <img th:src="@{/images/person_black.svg}" alt="Person Icon">
                <p>계정 설정</p>
            </a>
        </div>
        <div class="menu-item">
            <a th:href="@{/cards/manage}">   <!-- 수정 필요  -->
                <img th:src="@{/images/card_black.svg}" alt="Card Management Icon">
                <p>카드 관리</p>
            </a>
        </div>
        <div class="menu-item">
            <a th:href="@{/customer-service}">   <!-- 수정 필요  -->
                <img th:src="@{/images/customer-service.svg}" alt="Customer Service Icon">
                <p>Q & A</p>
            </a>
        </div>
        <div class="menu-item">
            <a th:href="@{/mypage/notice}">
                <img th:src="@{/images/notice.svg}" alt="Notice Icon">
                <p>공지사항</p>
            </a>
        </div>
        <div class="menu-item">
            <a th:href="@{/settings}">
                <img th:src="@{/images/settings.svg}" alt="Settings Icon">
                <p>설정</p>
            </a>
        </div>
    </div>
</div>

<!-- 하단 네비게이션 바 -->
<div th:replace="nav-bar :: navBar"></div>

</body>
</html>
