div.header > span {
  cursor: pointer;
  color: var(--cnu-light-blue);
  position: absolute;
  left: 2rem;
}

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-message {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightMessage {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  display: inline-block;
  background-color: var(--cnu-light-blue);
}

.leftMessage {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  display: inline-block;
  background-color: white;
}

.left .message-content {
  color: #000;
}

.right .message-content {
  color: white;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.sender {
  font-size: 12px;
  color: white;
  margin-bottom: 3px;
}

.customer {
  font-size: 12px;
  color: #888;
  margin-bottom: 3px;
}


.input-message {
  display: flex;
  align-items: center;
  padding: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 0.7rem;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.02);
  font-size: 0.9rem;
}

div.input-message > span {
  cursor: pointer;
  color: var(--cnu-light-blue);
  font-size: 1.8rem;
  margin: 0 0.2rem 0 1rem;
}
